<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body style="margin-left: 40%;margin-top: 10%">
<div> <h2>Spring Boot Login of in memory authentication</h2></div>
<div>
    <form action="/login" method="post">
        <table>
            <tr>
                <td><input type="text" name="username"></td>
            </tr>
            <tr>
                <td><input type="password" name="password"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Login"></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>